<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>

    <style>
      body {font-family: 'VT323', monospace;}
      * {box-sizing: border-box;}

      #intro {
        background-image: url(/assets/map/example_map.png) ;
        background-repeat: no-repeat;
        background-size: cover;

      }

      /* Height for devices larger than 576px */
      @media (min-width: 992px) {
        #intro {
          margin-top: -58.59px;
        }
      }

      #video-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 240px);
        grid-auto-rows: 240px;
      }

      #game {
        padding: 10px;
      }

      #containersuper {
        height: 100vh;
      }

      #videocontainer {
        width: 100%;
        height: 100%;
        overflow-x: scroll;
        overflow-y: scroll;
      }

      #screen-container {
        width: 600px;
        height: 400px;
        display: none;
      }


      video {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 20px;
        padding: 10px;
      }
      .tutor-video{
        border-style: solid;
        border-width: medium;
        padding: 0px;
        border-color: blue;
      }
    
      

      /* Button used to open the chat form - fixed at the bottom of the page */
      .open-button {
        background-color: #555;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        right: 28px;
        width: 280px;
      }

      /* The popup chat - hidden by default */
      .chat-popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 9;
      }

      /* Add styles to the form container */
      .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: white;
      }

      /* Full-width textarea */
      .form-container textarea {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
        resize: none;
        min-height: 50px;
      }

      .form-container .m {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #ffffff;
        resize: none;
        min-height: 20px;
        max-height: 400px;
        overflow-y:scroll;
      }

      /* When the textarea gets focus, do something */
      .form-container textarea:focus {
        background-color: #ddd;
        outline: none;
      }

      /* Set a style for the submit/send button */
      .form-container .btn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom:10px;
        opacity: 0.8;
      }

      /* Add a red background color to the cancel button */
      .form-container .cancel {
        background-color: red;
      }

      /* Add some hover effects to buttons */
      .form-container .btn:hover, .open-button:hover {
        opacity: 1;
      }
    </style>
    
  </head>
  
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/assets/Logo.png" height="48px" alt=""></a>
      </div>
      <div class="float-end">
        <div class="btn-group" role="group" id="btn-group"></div>
      </div>
    </nav>
    <!-- <div>
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <a class="navbar-brand" href="#">
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
              width="32px" height="32px" viewBox="0 0 64.000000 64.000000"
              preserveAspectRatio="xMidYMid meet">
              <g transform="translate(0.000000,64.000000) scale(0.100000,-0.100000)"
              fill="#000000" stroke="none">
              <path d="M100 450 c0 -44 2 -80 5 -80 2 0 21 11 41 25 20 14 50 25 65 25 l29
              0 0 -141 c0 -139 -7 -174 -36 -192 -35 -20 -6 -27 111 -27 117 0 146 7 111 27
              -29 18 -36 53 -36 192 l0 141 29 0 c15 0 45 -11 65 -25 20 -14 39 -25 41 -25
              3 0 5 36 5 80 l0 80 -215 0 -215 0 0 -80z m420 0 l0 -69 -36 24 c-21 14 -51
              25 -70 25 l-34 0 0 -145 c0 -148 10 -195 42 -208 7 -3 -41 -5 -107 -5 -66 0
              -114 2 -107 5 32 13 42 60 42 208 l0 145 -34 0 c-19 0 -49 -11 -70 -25 l-36
              -24 0 69 0 70 205 0 205 0 0 -70z"/>
              </g>
              </svg>
          </a>
          <span class="fs-4">Tutoria</span>
        </a>
      </header>
    </div> -->


    <!-- container mit den videos und dem "game" -->
    <div id="intro" class="bg-image shadow-2-strong" style="margin-top:75px">
      <div class="container-fluid">
        <div class="row">
          
          <div class="col-md-6">
            <div id="game" class="align-self-center"></div>
            <div class="btn-group align-self-center" role="group" id="btn-group2"></div>
              <!-- <button type="button" class="btn btn-primary">Left</button>
              <button type="button" class="btn btn-primary">Middle</button>
              <button type="button" class="btn btn-primary">Right</button> -->
            </div>
            
          <div class="col-md-6" id="containersuper">
            <div class="container" id="videocontainer">
            
              <div id="screen-container"></div>
              <div id="video-grid"></div>
            </div>
          </div>
           
          </div>
        </div>
      </div>
      
    

            <div class = "container"> 
        <!-- popup-Chat -->
            <button id="chatbutton" class="open-button" onclick="openForm()">Chat</button>
            <div class="chat-popup" id="myForm">
              <div class="form-container">
                <h1>Chat</h1>
                <div class = "m" id="messages"></div>
                <textarea id="inputMessage" placeholder="Type message.." name="msg" required></textarea>
                <button class="btn btn-success" onclick="sendMessage()">Send</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
              </div>
            </div>
          </div>
          
          <!-- Modal login -->
          <div class="modal" id="myModal" data-bs-backdrop="static">
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Login</h4>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                  <div class = "container">
                    <div class="mb-3 mt-3">
                      <label for="email">Name:</label>
                      <input type="email" class="form-control" id="email" placeholder="Namen eingeben" name="email">
                    </div>
                    <div class="mb-3">
                      <label for="pwd">Password:</label>
                      <input type="password" class="form-control" id="pwd" placeholder="Passwort eingeben" name="pswd">
                    </div>
                  </div>
                </div>
          
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="Game.loginRole()">Login</button>
                </div> 
          
              </div>
            </div>
          </div>

          <!-- Modal Roles -->
          <div class="modal" id="modal2" data-bs-backdrop="static">
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Login</h4>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                  <div class = "container">
                    <div class="form-check">
                      <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>f
                      <label class="form-check-label" for="radio1"></label>
                    </div>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">m
                      <label class="form-check-label" for="radio2"></label>
                    </div>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" id="radio3" name="optradio" value="option3">d
                      <label class="form-check-label" for="radio3"></label>
                    </div>
                  </div>
                </div>
          
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="Game.loginTutand()">Login</button>
                </div>
              
          
              </div>
            </div>
          </div>

          <!-- The Modal -->
          <div class="modal" id="modal3" data-bs-backdrop="static">
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Modus wählen</h4>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                  <div class = "container">
                    <div class="form-check">
                      <input type="radio" class="form-check-input" id="r1" name="optradio" value="option1" checked>Nur Tutor sichtbar
                      <label class="form-check-label" for="radio1"></label>
                    </div>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" id="r2" name="optradio" value="option2">Tischgruppen
                      <label class="form-check-label" for="radio2"></label>
                    </div>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" id="r3" name="optradio" value="option3">Alle sehen alle
                      <label class="form-check-label" for="radio3"></label>
                    </div>
                  </div>
                </div>
          
                <div class="modal-footer">
                  <button type="button" class="btn" data-bs-dismiss="modal" onclick="Client.sendMode()">Auswählen</button>
                </div>

              </div>
            </div>
          </div>
    
  
    

    </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="js/game.js" type="text/javascript"></script>
  <script src="js/main.js" type="text/javascript"></script>
  <script src="js/client.js" type="text/javascript"></script>
</html>
